.sign-up-container{
    .login-form {
        padding: 24px;
        flex: 1;
      }
      
      .login-title {
        text-align: center;
        color: #001529;
      }
      
      .login-input {
        padding: 10px;
        font-size: 16px;
      }
      
      .error-message {
        color: red;
        margin-top: 8px;
      }
      
      .login-button {
        width: 100%;
        background: linear-gradient(90deg, #4b6cb7, #182848);
        border: none;
      }
      
      .register-link, .home-link {
        text-align: center;
        margin-top: 16px;
      }
      
      .login-button-group {
        text-align: center;
        margin-top: 16px;
      }
      
      .login-button {
        width: 100%;
      }
      
      .login-google-span {
        margin-left: 10px;
      }
      
      .login-image {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f0f2f5;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
      
      .illustration-image {
        max-width: 100%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
}

  

// LoginForm.scss
.sign-in-container{
    .login-form-container {
      max-width: 400px;


      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
    margin: 5%;
    margin-left: 21%
    }
    
    .login-title {
      color: #1a237e;
    }
    
    .login-form {
      .ant-form-item-label > label {
        color: #1a237e;
      }
    
      .ant-input,
      .ant-input-password {
        border-radius: 10px;
      }
    
      .forgot-password {
        float: right;
        color: #1a237e;
        &:hover {
          text-decoration: underline;
        }
      }
    
      .login-button {
        width: 100%;
        border-radius: 20px;
        background: linear-gradient(45deg, #1a237e, #2196f3);
        border: none;
        &:hover {
          background: linear-gradient(45deg, #2196f3, #1a237e);
        }
      }
    
      .ant-typography {
        margin-top: 10px;
        .ant-typography-link {
          color: #ff9800;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    
    
    .login-form {
      padding: 0 20px;
      max-width: 400px;
      width: 100%;
    }
    
    .login-title {
      color: #0000FF;
      text-align: center;
      margin-bottom: 24px;
    }
    
    .login-input {
      padding: 10px;
      font-size: 16px;
    }
    
    .error-message {
      color: red;
      margin-bottom: 16px;
    }
    
    .forgot-password {
      display: block;
      text-align: right;
      margin-bottom: 16px;
      color: #0000FF;
    }
    
    .login-button {
      width: 100%;
      background-color: #0000FF;
      border-color: #0000FF;
      font-size: 16px;
      padding: 10px;
    }
    
    .register-link {
      display: block;
      text-align: center;
      margin-top: 16px;
    }
    
  }
  
  