$DESKTOP: "DESKTOP";
$MEDIUM_DEVICE: "MEDIUM_DEVICE";
$LAPTOP: "LAPTOP";
$LAPTOP_LARGE: "LAPTOP_LARGE";

@mixin Responsive($canvas) {
    @if $canvas ==$DESKTOP {
        @media only screen and (min-width: 1200px) {
            @content;
        }
    }

    @else if $canvas ==$MEDIUM_DEVICE {
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
            @content;
        }
    }

    @else if $canvas ==$LAPTOP {
        @media only screen and (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    }

    @else if $canvas ==$LAPTOP_LARGE {
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
            @content;
        }
    }
}